/* menu section start */
.headerSection{
    background-color: rgba(95, 158, 160, 0.527);
    padding: 7px 0;
}
.logo img{
    max-width: 97px;
}
.menuLogo{     
    display: flex;
    justify-content: space-between;
}
.menu ul {
    list-style: none;
    margin: 0px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 17px;
    line-height: 43px;
    color: white;
    font-size: 21px;
}

/* company section start */
.company-left{
    margin-top: 20px;
}
.company-left span::before {
    position: absolute;
    content: "";
    background-color: #3763eb;
    width: 77px;
    height: 3px;
    top: 220px;
    left: 102px;
}
.single-img {
    width: 247px;
    padding: 34px;
    border: 1px solid #f2efef;
}
.single-img img{
    width: 100%;
    /* filter: opacity(.5); */
    opacity: .5;
    transition: .5s;
}
.single-img img:hover{
    background-color: #f6f9fc;
    cursor: pointer;
    /* filter: opacity(1); */
    opacity: 1;
}
/* blog section start */
.blog-header h5{
    color: #3763eb;
}
.blog-header h1{
    position: relative;
}
.blog-header h1::after {
    position: absolute;
    content: "";
    background-color: #3763eb;
    width: 77px;
    height: 3px;
    top: 63px;
    left: 450px;
}
.blog-header p {
    color: #606060;
    font-size: 18px;
    padding: 20px 0;
}
/* thumbnail section start */

.thumbnail-img{
    position: relative;
}
.thumbnail-img img{
    max-width: 100%;
    border-radius: 7px;
}
.thumbnail-content h4 {
    font-size: 19px;
    padding: 23px 0;
}
.thumbnail-content p {
    font-size: 15px;
    color: #606060;
}

.img-button {
    width: 237px;
    height: 47px;
    background-color: #3763eb;
    border-radius: 64px;
    position: absolute;
    bottom: 27px;
    right: 37px;
}
.img-button img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-left: 11px;
}
.img-button a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.img-button h6 {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-top: 12px;
    padding-left: 13px;
}
/* footer section start */
.footerSection{
    background-color: #081828;
    color: white;
}
.footer-top{
    border-bottom: 1px solid #505b66;
}
.footer-img img{
    max-width: 100%;
}
.footer-top p {
    color:#c1c3cf;
    padding: 25px 0;
    font-size: 19px;
}
.footer-social ul{
    padding-left: 0;
    list-style: none;
}
.footer-social ul li a {
    font-size: 19px;
    color: white;
    padding: 21px;
    transition-duration: .7s;
}
.footer-social ul li a:hover{
    color: hotpink;
}
.f-about ul{
    padding: 0;
}
.f-about ul li {
    list-style: none;
    line-height: 37px;
    font-size: 21px;
}
.f-about h4 {
    margin-left: 19px;
    margin-bottom: 37px;
}
.f-about ul li {
    color: #c1c3cf;
}
.f-about{
    position: relative;
    padding-left: 37px;
}
.f-about h4::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 27px;
    background-color: rgb(55, 99, 235);
    top: 5px;
    left: 37px;
}
.footer-bottom p{
    margin-bottom: 0;
}
